@import 'tailwindcss';
@import 'uniwind';

@theme inline {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  @variant light {
    --background: oklch(0.9702 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(76.8% 0.233 130.85);
    --primary-foreground: oklch(0.145 0 0);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(92.2% 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.58 0.22 27);
    --destructive-foreground: oklch(0.98 0 0);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.88 0.15 92);
    --chart-2: oklch(0.77 0.16 70);
    --chart-3: oklch(76.8% 0.233 130.85);
    --chart-4: oklch(0.56 0.15 49);
    --chart-5: oklch(0.47 0.12 46);
    --silver-highlight: oklch(0.98 0 0);
    --silver-midtone: oklch(0.55 0 0);
    --silver-shadow: oklch(0.55 0 0);
    --bronze-highlight: oklch(0.8 0.06 55);
    --bronze-midtone: oklch(0.65 0.1 55);
    --bronze-shadow: oklch(0.45 0.07 55);
    --gold-highlight: oklch(0.92 0.1 95);
    --gold-midtone: oklch(0.7 0.2 85);
    --gold-shadow: oklch(0.5 0.15 85);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(76.8% 0.233 130.85);
    --sidebar-primary-foreground: oklch(0.145 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
    --text-base: 0.875rem;
    --radius: 1.05rem;
  }
  @variant dark {
    --background: oklch(0% 0 0);
    --foreground: oklch(0.98 0 0);
    --card: oklch(20.5% 0 0);
    --card-foreground: oklch(0.98 0 0);
    --popover: oklch(0.18 0 0);
    --popover-foreground: oklch(0.98 0 0);
    --primary: oklch(76.8% 0.233 130.85);
    --primary-foreground: oklch(0% 0 0);
    --secondary: oklch(100% 0 271);
    --secondary-foreground: oklch(0% 0 0);
    --muted: oklch(0.25 0 0);
    --muted-foreground: oklch(55% 0 0);
    --accent: oklch(84.1% 0.238 128.85);
    --accent-foreground: oklch(0% 0 0);
    --destructive: oklch(0.6 0.22 25);
    --destructive-foreground: oklch(0.98 0 0);
    --border: oklch(26.9% 0 0);
    --input: oklch(20.5% 0 0);
    --ring: oklch(76.8% 0.233 130.85);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --silver-highlight: oklch(0.98 0 0);
    --silver-midtone: oklch(0.55 0 0);
    --silver-shadow: oklch(0.55 0 0);
    --bronze-highlight: oklch(0.8 0.06 55);
    --bronze-midtone: oklch(0.65 0.1 55);
    --bronze-shadow: oklch(0.45 0.07 55);
    --gold-highlight: oklch(0.92 0.1 95);
    --gold-midtone: oklch(0.7 0.2 85);
    --gold-shadow: oklch(0.5 0.15 85);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);
    --radius: 1.05rem;
    --text-base: 0.875rem;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50 bg-background text-foreground;
  }
  body {
    @apply bg-background text-foreground;
  }
}
